.userinfo{
    padding: 20px;
    display: flex;
    justify-content: space-between;

    .user {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .icons {
         display:flex;
         gap: 25px;
         img{
            width: 20px;
            height: 20px;
            cursor: pointer;
         }
    }
}
  
  
  .dropdown {
    position: relative;
    display: flex;
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    background-color: transparent;
    min-width: auto;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    gap: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {color:rgba(165, 0, 0, 0.479)}
  
  .show {display: block;}

button{
    background-color: rgba(255, 0, 0, 0.76);
    color: white;
    width: 100px;
    height: 50px;
    &:hover{
        background-color: rgba(216, 1, 1, 0.527);
    }
}